body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subcontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.border {
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid black;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 500px;
    margin-top: 10px;
}
